@page
@model Bakalauras.Pages.Uzdaviniai.CreateTaskModel
@{
}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<style>
    .image-button {
        background-image: url('stackedFraction.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        /* additional button styling */
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        /* ... */
    }

    body .modal-dialog { /* Width */
        max-width: 100%;
        width: auto !important;
        display: inline-block;
    }

    .modal {
        z-index: -1;
        display: flex !important;
        justify-content: center;
        align-items: center;
    }

    .modal-open .modal {
        z-index: 1050;
    }
</style>


<form method="post">
    <div class="container">
        <input type="hidden" id="Input" name="Input" asp-for="@Model.Input" />
        <input type="hidden" id="taskString" name="taskString" asp-for="_Task.TaskString" />
        <input type="hidden" id="Ans1" name="Ans1" asp-for="_Task.Answer1" />
        <input type="hidden" id="Ans2" name="Ans2" asp-for="_Task.Answer2" />
        <input type="hidden" id="Ans3" name="Ans3" asp-for="_Task.Answer3" />
        <input type="hidden" id="Ans4" name="Ans4" asp-for="_Task.Answer4" />
        <input type="hidden" id="expl" name="expl" asp-for="_Task.Explaining" />

        @Html.HiddenFor(f => f.plainText)
        <div class="row">
            <div class="col-lg-12 mx-auto">
                <div class="card" style="margin-bottom: 20px;">
                    <div id="display" style="margin-bottom: 20px; margin-top: 20px; font-size: 32px;"></div>
                </div>
                <div class="card" style="margin-bottom: 20px;">
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Uždavinio rašyklė</label>
                        <textarea class="form-control" id="TaskCreate" rows="3">\( \)</textarea>

                        <div class="row" style="margin-top: 15px;">
                            <button type="button" id="eqStart" style="margin-left: 20px; margin-right: 10px;">Iterpt</button>

                            <button type="button" id="frac" style="margin-left: 20px; margin-right: 10px;">
                                <img src="/images/stackedFraction.png" style="width:2em; height:2em;" alt="Button Image">
                            </button>

                            <button type="button" id="sqrt" style="margin-left: 20px; margin-right: 10px;">
                                <img src="/images/squareRoot.png" alt="Button Image">
                            </button>
                        </div>
                        <div class="row" style="margin-top: 15px;">
                            <button type="button" id="saveEq" style="margin-left: 20px; margin-right: 10px;">Saugoti kaip uždavinį</button>
                            <button type="button" id="saveAnswer1" style="margin-left: 20px; margin-right: 10px;">Saugoti kaip Atsakymą 1</button>
                            <button type="button" id="saveAnswer2" style="margin-left: 20px; margin-right: 10px;">Saugoti kaip Atsakymą 2</button>
                            <button type="button" id="saveAnswer3" style="margin-left: 20px; margin-right: 10px;">Saugoti kaip Atsakymą 3</button>
                            <button type="button" id="saveAnswer4" style="margin-left: 20px; margin-right: 10px;">Saugoti kaip Atsakymą 4</button>
                            <button type="button" id="saveExplain" style="margin-left: 20px; margin-right: 10px;">Saugoti kaip paaiškinimą</button>
                        </div>
                    </div>
                </div>

                <div class="card" style="margin-bottom: 20px;">
                    <button asp-page-handler="GetAPIResults" asp-route-id="" class="btn btn-success btn-sm text-white">Gauti WolframAlpha Duomenis</button>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">
                        Peržiūra
                    </button>
                </div>

                <div class="card" style="margin-bottom: 20px;">
                    <label>Uždavinys saugojimui</label>
                    <div id="displaySave" style="margin-bottom: 20px; margin-top: 20px; font-size: 32px;"></div>
                </div>

                <div class="card" style="margin-bottom: 20px;">
                    <div class="form-group" style="border: solid">
                        <label for="exampleAnswer1">Atsakymas - 1</label>
                        <div id="displaySaveAnswer1" style="margin-bottom: 20px; margin-top: 20px; font-size: 32px;" name="displaySaveAnswer1"></div>
                        <small id="emailHelp" class="form-text text-muted">Šis atsakymas turi būti užrašytas kaip teisingas</small>
                    </div>
                    <div class="form-group" style="border: solid">
                        <label for="exampleAnswer2">Atsakymas - 2</label>
                        <div id="displaySaveAnswer2" style="margin-bottom: 20px; margin-top: 20px; font-size: 32px;" name="displaySaveAnswer2"></div>
                    </div>
                    <div class="form-group" style="border: solid">
                        <label for="exampleAnswer3">Atsakymas - 3</label>
                        <div id="displaySaveAnswer3" style="margin-bottom: 20px; margin-top: 20px; font-size: 32px;" name="displaySaveAnswer3"></div>
                    </div>
                    <div class="form-group" style="border: solid">
                        <label for="exampleAnswer4">Atsakymas - 4</label>
                        <div id="displaySaveAnswer4" style="margin-bottom: 20px; margin-top: 20px; font-size: 32px;" name="displaySaveAnswer4"></div>
                    </div>
                </div>

                <div class="card" style="margin-bottom: 20px;">
                    <div class="form-group">
                        <label for="Explaining">Atsakius į klausimą neteisingai būtu rodomas šis paaiškinimas:</label>
                        <div id="displayExplain" style="margin-bottom: 20px; margin-top: 20px; font-size: 32px;" name="displayExplain"></div>
                    </div>
                </div>

                <div class="card" style="margin-bottom: 20px;">
                    <h3>Papildoma informacija</h3>
                    <label for="tema"><b>Uždavinio tema:</b></label>
                    <select class="custom-select" style="width:400px;" name="tema" id="tema">
                        <option value="Realieji skaičiai ir skaičiavimai">Realieji skaičiai ir skaičiavimai</option>
                        <option value="Skaitiniai ir raidiniai reiškiniai">Skaitiniai ir raidiniai reiškiniai</option>
                        <option value="Lygtys, nelygybės ir jų sistemos">Lygtys, nelygybės ir jų sistemos</option>
                        <option value="Trigonometrija">Trigonometrija</option>
                        <option value="Difrencialinis skaičiavimas">Difrencialinis skaičiavimas</option>
                        <option value="Kombinatorika ir tikimybių teorija">Kombinatorika ir tikimybių teorija</option>
                        <option value="Atsitiktinis dydis. Statistika">Atsitiktinis dydis. Statistika</option>
                    </select><br><br>

                    <label for="tema"><b>Uždavinio sudetingumas:</b></label>
                    <select class="custom-select" style="width:400px;" name="sunk" id="sunk">
                        <option value="A">A</option>
                        <option value="B">B</option>
                    </select><br><br>
                </div>

                <div class="card" style="margin-bottom: 20px;">
                    <button asp-page-handler="Create" class="btn btn-success btn-sm text-white">Sukurti Uždavinį</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Wolfram Aplha API</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @if (Model.podsItems != null && Model.podsItems.Count() > 0)
                    {
                        <table class="table table-borderless">
                            <thead>
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.podsItems.Count(); i++)
                                {
                                    <tr>
                                        <th>@Html.DisplayFor(f => f.podsItems[i].Title)</th>
                                        <td scope="row">
                                            <div style="width: @Model.podsItems[i].ImgWidth; height: @Model.podsItems[i].ImgHeight;"><img class="card-img-top" src="@Model.podsItems[i].ImgUrl" alt="@Model.podsItems[i].Alt"></div>
                                        </td>

                                        <td>
                                            Prideti
                                            <input type="checkbox" name="@("chkl_" + Model.podsItems[i].Id)" value="@Model.podsItems[i].IsActive" />
                                            <input type="hidden" name="[@i].Id" value="@Model.podsItems[i].Id" />
                                            <input type="hidden" name="[@i].imgId" value="@Model.podsItems[i].imgId" />
                                            <input type="hidden" name="[@i].Title" value="@Model.podsItems[i].Title" />
                                            <input type="hidden" name="[@i].ImgUrl" value="@Model.podsItems[i].ImgUrl" />
                                            <input type="hidden" name="[@i].Alt" value="@Model.podsItems[i].Alt" />
                                            <input type="hidden" name="[@i].ImgWidth" value="@Model.podsItems[i].ImgWidth" />
                                            <input type="hidden" name="[@i].ImgHeight" value="@Model.podsItems[i].ImgHeight" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <th colspan="3"><hr /></th>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</form>

<script>
    $(document).ready(function () {
        var gg = $('#plainText').val();
        $('#TaskCreate').val(gg);
        if (gg.length > 1) {
            DisplayTask();
        }
        function DisplayTask() {
            const text = $('#TaskCreate').val();
            const katexRegex = /\\\((.*?)\\\)/;

            const renderedText = text.replace(katexRegex, (match, equation) => {
                return katex.renderToString(equation);
            });

            const input = text.match(katexRegex);

            $('#Input').val(input[1]);
            $('#plainText').val(text);
            $('#display').html(renderedText);
        }

        $('#saveEq').click(function () {
            const text = $('#TaskCreate').val();
            const katexRegex = /\\\((.*?)\\\)/;

            const renderedText = text.replace(katexRegex, (match, equation) => {
                return katex.renderToString(equation);
            });

            const input = text.match(katexRegex);

            $('#Input').val(input[1]);
            $('#plainText').val(text);
            $('#taskString').val(text);
            $('#displaySave').html(renderedText);
        });

        $('#saveAnswer1').click(function () {
            const text = $('#TaskCreate').val();
            const katexRegex = /\\\((.*?)\\\)/;

            const renderedText = text.replace(katexRegex, (match, equation) => {
                return katex.renderToString(equation);
            });

            $('#Ans1').val(text);
            $('#displaySaveAnswer1').html(renderedText);
        });

        $('#saveAnswer2').click(function () {
            const text = $('#TaskCreate').val();
            const katexRegex = /\\\((.*?)\\\)/;

            const renderedText = text.replace(katexRegex, (match, equation) => {
                return katex.renderToString(equation);
            });

            $('#Ans2').val(text);
            $('#displaySaveAnswer2').html(renderedText);
        });

        $('#saveAnswer3').click(function () {
            const text = $('#TaskCreate').val();
            const katexRegex = /\\\((.*?)\\\)/;

            const renderedText = text.replace(katexRegex, (match, equation) => {
                return katex.renderToString(equation);
            });

            $('#Ans3').val(text);
            $('#displaySaveAnswer3').html(renderedText);
        });

        $('#saveAnswer4').click(function () {
            const text = $('#TaskCreate').val();
            const katexRegex = /\\\((.*?)\\\)/;

            const renderedText = text.replace(katexRegex, (match, equation) => {
                return katex.renderToString(equation);
            });

            $('#Ans4').val(text);
            $('#displaySaveAnswer4').html(renderedText);
        });

        $('#saveExplain').click(function () {
            const text = $('#TaskCreate').val();
            const katexRegex = /\\\((.*?)\\\)/;

            const renderedText = text.replace(katexRegex, (match, equation) => {
                return katex.renderToString(equation);
            });
            $('#expl').val(text);
            $('#displayExplain').html(renderedText);
        });

        $('#eqStart').click(function () {
            var textarea = $('#TaskCreate');
            var text = '\\( \\)';
            var startPos = textarea[0].selectionStart;
            var endPos = textarea[0].selectionEnd;
            var value = textarea.val();
            textarea.val(value.substring(0, startPos) + text + value.substring(endPos));
            // Set the cursor position to the end of the inserted text
            textarea[0].selectionStart = textarea[0].selectionEnd = startPos + text.length;

            DisplayTask();
        });

        $('#frac').click(function () {
            var textarea = $('#TaskCreate');
            var text = '\\frac{A}{B}';
            var startPos = textarea[0].selectionStart;
            var endPos = textarea[0].selectionEnd;
            var value = textarea.val();
            textarea.val(value.substring(0, startPos) + text + value.substring(endPos));
            // Set the cursor position to the end of the inserted text
            textarea[0].selectionStart = textarea[0].selectionEnd = startPos + text.length;

            DisplayTask();
        });

        $('#sqrt').click(function () {
            var textarea = $('#TaskCreate');
            var text = '\\sqrt{C}';
            var startPos = textarea[0].selectionStart;
            var endPos = textarea[0].selectionEnd;
            var value = textarea.val();
            textarea.val(value.substring(0, startPos) + text + value.substring(endPos));
            // Set the cursor position to the end of the inserted text
            textarea[0].selectionStart = textarea[0].selectionEnd = startPos + text.length;

            DisplayTask();
        });

        $('#TaskCreate').on('keyup click', function () {
            DisplayTask();
        });
    });
</script>